.user-add-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 30px;
}

.user-add-form input {
  border: 1px solid #999999;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 6px;
  margin-bottom: 20px;
}

.user-add-form label {
  padding-bottom: 5px;
}
.user-add-form-btn-pos {
  display: flex;
  justify-content: space-between;
}

input.user-add-form-btn,
.user-add-form-btn:focus {
  border: 1px solid #333333;
  background-color: #333333;
  color: #ffffff;
  width: 100px;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.user-add-form-btn:hover {
  background-color: #666666;
  border: 1px solid #666666;
}

.user-add-form-btn.btn-clear,
.user-add-form-btn.btn-clear:focus {
  border: 1px solid #999999;
  background-color: #f2f2f2;
  color: #222222;
}

.user-add-form-btn.btn-clear:hover {
  background-color: #dfdfdf;
}
